body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #252525;
  text-align: center;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding-inline-start: 0;
}
.Container {
  margin-top: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.navbar-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  border-bottom: 2px solid #ca504f;
  /*border-bottom: 2px solid #9c4b5e;*/
}

.navbar-container a {
  text-decoration: none;
  color: #252525;
  display: block;
  padding: 1em;
  transition: all 500ms ease;
}

.navbar-container a:hover {
  background: #ca504f;
  margin-bottom: 2px;
  margin-top: 10px;
  line-height: 10px;
  color: white;
}
p:first-child {
  margin-top: 14px;
  margin-right: 70px;
  margin-left: 30px;
}

.avatar {
  height: 30px;
  border-radius: 25px;
  margin-top: -38px;
  margin-right: 25px;
  border: 2px solid #ca504f;
  float: right;
}

.form-container {
  border: thin solid #cfcdd0;
  width: 30%;
  height: 500px;
  border-radius: 5px;
}

.form-title {
  border-bottom: 1px solid #cfcdd0;
  background: #e0e1e4;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.login-form-title {
  color: #ca504f;
}

.login-logo img {
  height: 180px;
  margin: 20px;
}

.ui.button.form-button {
  width: 80%;
  background: #ca504f;
  border-radius: 5px;
  line-height: 20px;
  font-weight: bolder;
  font-size: 15px;
  transition: all 500ms ease;
  margin: 10px;
}
.ui.button.vote-button:hover,
.ui.button.form-button:hover,
.ui.button.question-form-button:hover {
  color: white;
}
.ui.selection.dropdown.login-dropdown {
  width: 80%;
  height: 20px;
  margin: 10px auto;
}

.ui.selection.active.dropdown:hover {
  border-color: #ca504f;
}

.grid-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main main";
}
.dashoard-title {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

.questions-cards-container {
  grid-area: main;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #cfcdd0;
}
.question-header {
  grid-area: header;
}

.answered-header,
.unanswer-header {
  font-weight: lighter;
  border: 1px solid #cfcdd0;
  padding: 10px;
}
.unanswer-header:hover {
  background: #ca504f;
  color: white;
}
.answered-header:hover {
  background: #ca504f;
  color: white;
}

.card {
  margin: 10px;
}
.choice-card-avatar {
  height: 110px;
  border-radius: 50%;
  width: 20%;
  float: left;
  margin: 20px;
}

.choice-card-container {
  border: thin solid #cfcdd0;
  border-radius: 5px;
}

.card-title {
  border-bottom: thin solid #cfcdd0;
  height: 40px;
  text-align: left;
}

.author-name {
  font-size: 15px;
  font-family: sans-serif;
  padding: 10px;
}

.ui.button.card-button {
  width: 60%;
  margin: 10px;
}

.card-question {
  padding: 20px;
  font-size: 16px;
}
.question-form-container {
  border-radius: 5px;
  border: thin solid #cfcdd0;
  width: 30%;
}
.new-question-header {
  border-bottom: thin solid #cfcdd0;
  padding: 10px;
}

.new-question-header h1 {
  font-size: 20px;
}

.question-form-container input {
  width: 80%;
  padding: 7px;
  border-radius: 5px;
  border-bottom: thin solid #cfcdd0;
}

.question-form-container h3,
.question {
  text-align: left;
  padding-left: 20px;
}

.ui.button.vote-button,
.ui.button.question-form-button {
  background: #ca504f;
  width: 80%;
  margin: 40px;
}
.questioncard-container {
  border-radius: 5px;
  border: thin solid #cfcdd0;
  width: 30%;
}
.poll-results-avatar,
.questioncard-avatar img {
  height: 170px;
  border-radius: 50%;
  width: 75%;
  margin: 20px;
}
.poll-results-avatar-container,
.questioncard-avatar {
  border-right: thin solid #cfcdd0;
  flex-basis: 80%;
}

.questioncard-title {
  border-bottom: thin solid #cfcdd0;
  text-align: left;
}

.questioncard-title h1 {
  font-size: 15px;
  font-family: sans-serif;
  padding: 10px;
}
.questioncard-flex-container {
  display: flex;
}
.questioncard-flex-item1 h1 {
  padding: 15px;
  text-align: left;
}
.questioncard-flex-item1 {
  width: 100%;
}

.poll-result-container {
  width: 40%;
  border-radius: 5px;
  border: thin solid #cfcdd0;
}
.poll-result-container h2 {
  text-align: left;
  padding: 20px 0px 0px 10px;
}
.pollcard-title {
  border-bottom: thin solid #cfcdd0;
  text-align: left;
}

.pollcard-title h2 {
  font-size: 15px;
  font-family: sans-serif;
  padding: 10px;
}

.poll-grid-container {
  display: grid;
  grid-template-columns: 35% 70%;
  grid-template-rows: auto;
}

.poll-results-avatar {
  height: 170px;
  border-radius: 50%;
  width: 75%;
  margin-top: 50%;
}

.scorecard-avatar-container,
.poll-results-avatar-container {
  text-align: center;
}

.pollcard-container {
  width: 80%;
  border-radius: 5px;
  border: thin solid #cfcdd0;
  margin: 30px;
  padding: 20px;
}

.ui.progress .bar {
  background: #ca504f;
}
.scorecards {
  margin: 20px;
  width: 80%;
  border: thin solid #cfcdd0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
}

.scorecard-avatar {
  margin: 20px;
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.scorecard-info {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #cfcdd0;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}
.scorecard-number {
  display: inline-block;
  float: right;
  margin-top: -32px;
  margin-right: 35px;
  font-weight: bold;
}
.score-container {
  margin: 15px;
  border: thin solid #cfcdd0;
}
.score-title {
  border-bottom: thin solid #cfcdd0;
  padding: 10px;
  background: #e0e1e4;
}
.total-score {
  border-radius: 50%;
  background: #ca504f;
  height: 40%;
  width: 40%;
  margin-left: 30%;
  margin-top: 12px;
}
.total-score h1 {
  color: white;
  position: relative;
  top: 9px;
}
.ui.progress .bar>.progress{
  left: 5px;
}

@media screen and (max-width: 750px) {
  .form-container,
  .question-form-container {
    width: 80%;
    height: auto;
  }
  .questioncard-container {
    width: 100%;
    margin: 15px;
  }
  .ui.button.vote-button {
    margin: 20px;
  }
  .poll-result-container {
    width: 100%;
    margin: 12px;
  }
  .pollcard-container {
    margin: 13px;
  }
  .scorecards {
    width: 90%;
  }

  .total-score h1 {
    color: white;
    position: relative;
    top : -2px;

  }

  .score-container {
    margin: 5px;
  }
  .scorecard-number, h4 {
    display: none;
  }

  .scorecard-info{
    margin: auto;
    position: relative;
    padding-right: 10px;
  }

  .ui.button.question-form-button{
    position: relative;
    left: -10px;
  }
}
